{% extends 'layout.twig' %}

{% form_theme form 'form/fields.twig' %}

{% block content %}

{% set form_attr = {class: 'form-horizontal'} %}
{% if app.form_constraints is not defined or not app.form_constraints %}{% set form_attr = form_attr|merge({novalidate: ''}) %}{% endif %}

{{ form_start(form, {attr: form_attr}) }}
    {{ form_widget(form) }}
{{ form_end(form) }}

{% block modal %}
<div class="grid-modal-container">
{% embed 'model/modal.twig' %}{% endembed %}
</div>
{% endblock modal %}

{% endblock content %}
